@use "styles/abstract/index" as *;
@use "styles/base/index" as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primaryFont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $primaryLight;
    background: $primaryDark;
  }
}
